<!--@formatter:off -->
<script id="portal-apis-list-view-template" type="text/x-handlebars-template">
    <div class="row-fluid general-alerts-wrapper">
        <div class="span12">
            <div class="general-alerts"></div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="page-title span8 portal-page-title">
            <h1>{{apis}}</h1>
        </div>
        {{#if canCreate}}
            <div class="span4 right portal-page-actions">
                <button class="add-api btn btn-primary">{{labelAddAPI}}</button>
            </div>
        {{/if}}
    </div>

    <div class="row-fluid portal-main">
        <div class="span12">
            <div class="datagrid">
                <div class="datagrid-controls-header">
                    <div class="row-fluid">
                        {{!--
                        <div class="bulk-actions span3 datagrid-dropdown"></div>
                        --}}
                        <div class="span3"></div>
                        {{! remove this once the above line is implemented }}
                        <div class="span6 pagination datagrid-pagination center"></div>
                        <div class="span3 datagrid-multi-page right">
                            <label>{{displayPerPage}} <select class="layer7-select page-size">
                                <option class="page-size-opt" value="10">10</option>
                                <option class="page-size-opt" value="25">25</option>
                                <option class="page-size-opt" value="50">50</option>
                                <option class="page-size-opt" value="100">100</option>
                                {{#if configuredMax}}
                                    <option value="{{configuredMax}}">{{configuredMax}}</option>
                                {{/if}}
                            </select></label>
                        </div>
                    </div>
                </div>

                <div class="datagrid-table">
                    <table id="data-grid" class="table table-hover">
                        <thead>
                        <tr class="datagrid-header">
                            <th>{{apiName}}</th>
                            <th class="center">{{portalState}}</th>
                            <th class="center">{{labelVisibility}}</th>
                            <!-- <th class="center">{{orgs}}</th> //-->

                        </tr>

                        <tr class="datagrid-header datagrid-filters">
                            <th>
                                <div class="input-append">
                                    {{!-- <input class="api-name-filter appendedinput" placeholder="Search"
                                                 type="text"/><span class="add-on"><i
                                        class="icon-portal-search"></i></span> --}}
                                </div>
                            </th>

                            <th class="center">
                                <select class="layer7-select api-state-filter">
                                    <option value="">{{allCaps}}</option>
                                    <option value="ENABLED">{{enabled}}</option>
                                    <option value="DISABLED">{{disabled}}</option>
                                    <option value="DEPRECATED">{{deprecated}}</option>
                                    <option value="NEW">{{new}}</option>
                                </select>
                            </th>
                            <th class="center">
                                <select class="layer7-select api-visibility-filter">
                                    <option value="">{{allCaps}}</option>
                                    <option value="PUBLIC">{{labelPublic}}</option>
                                    <option value="PRIVATE">{{labelPrivate}}</option>
                                </select>
                            </th>

                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <div class="datagrid-controls-footer">
                    <div class="row-fluid">
                        {{!--
                        <div class="bulk-actions span3 datagrid-dropdown"></div>
                        --}}
                        <div class="span3"></div>
                        {{! remove this once the above line is implemented}}
                        <div class="pagination span6 datagrid-pagination center"></div>
                        <div class="api-page-info span3 datagrid-page-number right"></div>
                    </div>
                </div>
            </div>
            {{! datagrid end }}

        </div>
        {{! .span12 end }}
    </div>
    {{! .row-fluid end }}
    </div>{{! .container-fluid end }}
    <div id="modal-container"></div>
</script>

<script id="portal-apis-data-rows-template" type="text/x-handlebars-template">
    <tr id="row-id-{{id}}" class="data-row">
        <td data-data-type="api-name">
            {{#if isSameOrg}}
                <a class="api-label" data-api-id="{{id}}">{{name}}</a>
            {{/if}}
            {{#unless isSameOrg}}
                {{name}}
            {{/unless}}
        </td>
        <td data-data-type="api-state" class="center"><a class="layer7-tooltip" data-tooltip-content="{{tooltipContent}}"><i
                class="{{apiStateIcon}}"></i></a></td>

        <td data-data-type="api-visibility" class="center">{{#if visibilityIcon}}<a class="layer7-tooltip"
                                                    data-tooltip-content="{{visibilityPrivateTooltip}}"><i
                class="{{visibilityIcon}}"></i></a>{{/if}}
        </td>
    </tr>
</script>

<script id="portal-apis-no-data-rows-template" type="text/x-handlebars-template">
    <tr class="data-row alert alert-warning">
        <td colspan="6"><i class="icon-portal-error"></i> {{{message}}}</td>
    </tr>
</script>

<script id="portal-apis-bulk-actions-template" type="text/x-handlebars-template">
    <div class="bulk-actions dropdown">
        <button class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-portal-all"></i>
            {{actionsWithSelected}}<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#" class="bulk-deprecate control-disabled"><i class="icon-portal-arrow-down"></i>
                {{deprecate}}</a></li>
        </ul>
    </div>
</script>

<script id="portal-apis-auth-template-partial" type="text/x-handlebars-template">
    <fieldset name="auth-config-section">
        <legend>{{labelAuth}}</legend>
        <div class="control-group" name="Apis-AuthenticationType">
            <div class="control-group-header">
                <label>{{labelAuthType}}:</label>
                <span class="control-help-popover popover-trigger-info" rel="popover" data-placement="right" data-html="true" data-content="{{helptextPopupAuthType}}"></span>
            </div>
            <section id="auth-type" class="edit-text layer7-selections">
                <input type="radio" name="auth-type" checked="checked" value="none"/>
                <label for="none">{{labelAuthTypeNone}}</label>
                <input type="radio" name="auth-type" value="apikey">
                <label for="apikey"> {{labelAuthTypeApiKey}}</label>
                <!--<input type="radio" name="auth-type" value="oauth1">
                  <label for="oauth1">{{labelAuthTypeOauth1}}</label>-->
                <input type="radio" name="auth-type" value="oauth2">
                <label for="oauth2">{{labelAuthTypeOauth2}}</label>
            </section>
        </div>
        <div class="control-group api-key-options " name="Apis-ApiKeyType">
            <strong>{{labelApiKeyType}}:</strong><br>
            <select name="api_key_type" class="edit-text" data-default-value="query">
                <option value="query">{{labelApiKeyTypeQuery}}</option>
                <option value="header">{{labelApiKeyTypeHeader}}</option>
            </select>
        </div>
        <div class="oauth2-options control-group " name="Apis-GrantType">
            <label>{{labelGrantType}} *</label>
            <section id="grant-type-input" class="layer7-selections" data-button-group-threshold="3">
                <input type="radio" name="grant_type" data-required="true" data-required-message="{{error.required}}"
                       data-group="grant_type" value="code" checked="" />
                <label for="code"> {{labelAuthCode}}</label>
                <input type="radio" name="grant_type" data-required="true" data-required-message="{{error.required}}"
                       data-group="grant_type" value="token"/>
                <label for="token">{{labelImplicit}}</label>
                <input type="radio" name="grant_type" data-required="true" data-required-message="{{error.required}}"
                       data-group="grant_type" value="password"/>
                <label for="password">{{labelPasswordCreds}}</label>
                <input type="radio" name="grant_type" data-required="true" data-required-message="{{error.required}}"
                       data-group="grant_type" value="client_credentials"/>
                <label for="client_credentials">{{labelClientCreds}}</label>
            </section>
        </div>
        <div id="oauth1-field-container" class="display-container">
            <div class="control-group" name="Apis-RequestTokenUrl">
                <label>{{labelRequestEndpoint}} *</label>
                <input id="request_token_url" type="text" data-type="url" data-type-url-message="{{error.url}}"
                       data-required="true" data-required-message="{{error.required}}" value="{{reqEndpointValue}}"
                       maxlength="255" data-maxlength="255" data-maxlength-message="{{error.maxlength}}"/>

                <p class="help-block">{{helptextMaxLength}} {{helptextUrl}}</p>
            </div>
            <div class="control-group" name="Apis-AuthorizeUrl">
                <label>{{labelAuthEndpoint}} *</label>
                <input id="authorize_url" type="text" data-type="url" data-type-url-message="{{error.url}}"
                       data-required="true" data-required-message="{{error.required}}" value="{{authEndpointValue}}"
                       maxlength="255" data-maxlength="255" data-maxlength-message="{{error.maxlength}}"/>

                <p class="help-block">{{helptextMaxLength}} {{helptextUrl}}</p>
            </div>
            <div class="control-group" name="Apis-AccessTokenUrl">
                <label>{{labelAccessTokenEndpoint}} *</label>
                <input id="access_token_url" type="text" data-type="url" data-type-url-message="{{error.url}}"
                       data-required="true" data-required-message="{{error.required}}"
                       value="{{accessTokenEndpointValue}}" maxlength="255" data-maxlength="255"
                       data-maxlength-message="{{error.maxlength}}"/>

                <p class="help-block">{{helptextMaxLength}} {{helptextUrl}}</p>
            </div>
        </div>
        <div id="oauth2-field-container" class="display-container">
            <div class="control-group" id="oauth2-authorize-endpoint-container" name="Apis-AuthorizeEndpoint">
                <label>{{labelAuthEndpoint}} *</label>
                <input id="authorize_endpoint" type="text" data-type="url" data-type-url-message="{{error.url}}"
                       data-required="true" data-required-message="{{error.required}}" maxlength="255"
                       data-maxlength="255" data-maxlength-message="{{error.maxlength}}" class="edit-text" data-fieldgroup="oauth2" />

                <p class="help-block">{{helptextMaxLength}} {{helptextUrl}}</p>
            </div>
            <div class="control-group" id="oauth2-token-endpoint-container" name="Apis-TokenEndpoint">
                <label>{{labelTokenEndpoint}} *</label>
                <input id="token_endpoint" type="text" data-type="url" data-type-url-message="{{error.url}}"
                       data-required="true" data-required-message="{{error.required}}" value="" maxlength="255"
                       data-maxlength="255" data-maxlength-message="{{error.maxlength}}" class="edit-text" data-fieldgroup="oauth2"/>

                <p class="help-block">{{helptextMaxLength}} {{helptextUrl}}</p>
            </div>
        </div>
    </fieldset>
</script>

<script id="portal-apis-trial-video-sidebar-developer-users" type="text/x-handlebars-template">
    <div class="span3">
        <div class="trial-video-sidebar">
            <h4 class="trial-video-sidebar-header">{{labelLinkPublishApiHow}}</h4>
            <div class="trial-video-sidebar-content">
                <div class="trial-video-sidebar-content-inner">
                    <ol>
                        <li>{{labelTrialPublishApiContentStep2}}</li>
                        <li>{{labelTrialPublishApiContentStep3}}</li>
                        <li>{{labelTrialPublishApiContentStep4}}</li>
                    </ol>
                </div>
                <div class="trial-video-sidebar-links">
                    <p><a href="{{labelLinkPublishApiDocsHref}}" target="_blank">{{labelButtonViewDocumentation}}</a></p>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="portal-apis-trial-video-sidebar-publisher-users" type="text/x-handlebars-template">
    <div class="span3">
        <div class="trial-video-sidebar">
            <h4 class="trial-video-sidebar-header">{{labelLinkPublishApiHow}}</h4>
            <div class="trial-video-sidebar-content">
                <div class="trial-video-sidebar-content-inner">
                    <ol>
                        <li>{{labelTrialPublishApiContentStep1}}</li>
                        <li>{{labelTrialPublishApiContentStep2}}</li>
                        <li>{{labelTrialPublishApiContentStep3}}</li>
                        <li>{{labelTrialPublishApiContentStep4}}</li>
                    </ol>
                </div>
                <div class="trial-video-sidebar-links">
                    <p><a href="{{labelLinkPublishApiDocsHref}}" target="_blank">{{labelButtonViewDocumentation}}</a></p>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="portal-apieulas-confirm-disable-template" type="text/x-handlebars-template">
    <button id="confirm-save-resource" class="btn btn-primary" type="submit">{{ok}}</button>
    <button id="cancel-save-resource" class="btn" type="button">{{cancel}}</button>
</script>

<script id="portal-apis-policy-template-header" type="text/x-handlebars-template">
    <div class="control-group">
        <div class="row-fluid">
            <div class="span12">{{policyTemplateDescription}}</div>
        </div>
        <hr/>
    </div>
</script>

<script id="portal-apis-policy-template-default-arg" type="text/x-handlebars-template">
    <div class="control-group" name="Apis-PolicyTemplateArguments.{{argName}}.Value">
        <label>{{argLabel}}</label>
        <input id="{{uuid}}-{{index}}-{{argName}}-{{argIndex}}" data-field="{{argName}}" name="{{argName}}-{{index}}" {{#if dataType}}data-type="{{dataType}}"{{/if}}
               field-type="{{argType}}" {{#if dataType}}data-type-{{dataType}}-error="{{error.datatype}}"{{/if}}
               data-label="{{argLabel}}" type="text" {{#if required}}data-required="true"{{/if}}
               data-required-message="{{error.required}}"
               {{#if maxLenght}}
               maxlength="{{maxLenght}}"
               {{else}}
               data-regexp="^\d+$"
               data-regexp-message="{{error.integeronly}}"
               data-range="[0, 2000000000]"
               data-range-message="{{error.range}}"
               {{/if}}
               value="{{argValue}}" data-fieldgroup="proxy-config-tab" />

        <p class="help-block">{{argHelpText}}</p>
    </div>
</script>

<script id="portal-apis-policy-template-boolean-arg" type="text/x-handlebars-template">
    <div class="control-group" name="Apis-PolicyTemplateArguments.{{argName}}.Value">
        <label>{{argLabel}}</label>
        <section class="layer7-selections" id="policy-template-{{argName}}">
            <input type="radio" id="{{uuid}}-{{index}}-{{argName}}-{{argIndex}}-yes" name="{{argName}}-{{index}}" data-field="{{argName}}" value="true" {{#if required}}data-required="true"{{/if}}
                   data-required-message="{{error.required}}" data-label="{{argLabel}}" field-type="{{argType}}"
                   {{#if argValue}}checked="checked"{{/if}} data-fieldgroup="proxy-config-tab" />
            <label for="true">Yes</label>
            <input type="radio" id="{{uuid}}-{{index}}-{{argName}}-{{argIndex}}-no" name="{{argName}}-{{index}}" data-field="{{argName}}" value="false" {{#if required}}data-required="true"{{/if}}
                   data-required-message="{{error.required}}" data-label="{{argLabel}}" field-type="{{argType}}"
                   {{#unless argValue}}checked="checked"{{/unless}} data-fieldgroup="proxy-config-tab" />
            <label for="false">No</label>
        </section>
    </div>
</script>

<script id="portal-apis-policy-template-selection" type="text/x-handlebars-template"></script>

<script id="portal-apis-custom-field-single-select" type="text/x-handlebars-template">
    <div class="control-group" name="Apis-CustomFieldValues.{{fieldId}}.Value">
        <label>{{fieldLabel}} {{#if required}}*{{/if}}</label>
        <select id="{{fieldId}}" {{#if required}}data-required="true"{{/if}}
                data-required-message="{{error.required}}" data-label="{{fieldLabel}}" >
            <option value selected>{{labelCustomFieldPlaceholder}}</option>
        </select>
    </div>
</script>

<script id="portal-apis-custom-field-select-option" type="text/x-handlebars-template">
    <option value="{{rawValue}}" {{#if selected}}selected{{/if}}>{{value}}</option>
</script>
<script id="portal-applications-custom-field-text" type="text/x-handlebars-template">
    <div class="control-group" name="Apis-CustomFieldValues.{{fieldId}}.Value">
        <label>{{fieldLabel}} {{#if required}}*{{/if}}</label>
        <textarea id="{{fieldId}}" {{#if required}}data-required="true" data-required-message="{{error.required}}"{{/if}} maxlength="5000" data-maxlength="5000">{{textValue}}</textarea>
    </div>
</script>

<script id="portal-apis-form-view-policy-templates-section-partial" type="text/x-handlebars-template">
  <div id="policy-templates-input-section" class="layer7-accordion" data-open-multiple="true">
      <ol class="layer7-dragndrop-panel">
          {{> policy-templates-entry}}
      </ol>
  </div>

  <div id="policy-template-control">
    <div class="row-fluid">

    <div class="span4">
        <section id="policy-template-selection" class="layer7-selections" data-button-group-threshold="0">
            {{> policy-templates-selection}}
        </section>
        <button class="btn btn-primary add-policy-template">{{labelAdd}}</button>
    </div>
    </div>
  </div>
</script>

<script id="portal-apis-form-view-policy-templates-selection-partial" type="text/x-handlebars-template">
   {{#each availablePolicyTemplates}}
     <input type="radio" name="policy-template" value="{{uuid}}" />
     <label for="{{uuid}}">{{name}}</label>
   {{/each}}
</script>

<script id="portal-apis-form-view-policy-templates-entry-partial" type="text/x-handlebars-template">
    {{#each policyTemplatesInUse}}
        {{#if Name}}
        <li>
          <div id="{{PolicyEntityUuid}}-{{@index}}" data-policy-template-uuid="{{PolicyEntityUuid}}" data-policy-template-index="{{@index}}"
               class="policy-template accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-{{PolicyEntityUuid}}" href="#accordion-{{PolicyEntityUuid}}-section{{@index}}">
                <div class="row-fluid">
                  <div data-field="name" class="span10"><i class="icon-portal-more"></i> {{Name}}</div>
                  <div data-field="action" class="span2">
                    <button class="btn btn-mini btn-danger remove-policy-template pull-right">{{../labelRemove}}</button>
                  </div>
                </div>
              </a>
            </div>
            <div class="accordion-body collapse" id="accordion-{{PolicyEntityUuid}}-section{{@index}}">
              <div class="policy-template-arguments accordion-inner"></div>
            </div>
          </div>
        </li>
        {{/if}}
    {{/each}}
</script>

<script id="portal-apis-form-view-policy-templates-add-entry-partial" type="text/x-handlebars-template">
    <li><div id="{{PolicyEntityUuid}}-{{index}}" data-policy-template-uuid="{{PolicyEntityUuid}}" data-policy-template-index="{{index}}"
             class="policy-template accordion-group">

        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-{{PolicyEntityUuid}}" href="#accordion-{{PolicyEntityUuid}}-section{{index}}">
                <div class="row-fluid">
                    <div data-field="name" class="span10"><i class="icon-portal-more"></i> {{Name}}</div>
                    <div data-field="action" class="span2">
                        <button class="btn btn-mini btn-danger remove-policy-template pull-right">{{labelRemove}}</button>
                    </div>
                </div>
            </a>
        </div>
        <div class="accordion-body collapse" id="accordion-{{PolicyEntityUuid}}-section{{index}}">
            <div class="policy-template-arguments accordion-inner"></div>
        </div>
    </div></li>

</script>


<script id="portal-apis-swagger-flow-form-view-template" type="text/x-handlebars-template">

    {{!-- form start --}}
    <div class="row-fluid portal-main">
        <div class="span12">
            <form id="api-form" novalidate="novalidate">

                <div class="row-fluid">
                    <div class="general-alerts"></div>
                </div>

                <div class="row-fluid">
                    <div class="page-title span12 portal-page-title">
                        <h1>{{editApi}}</h1>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span12">
                        <div class="row-fluid">
                            <div class="layer7-form-wizards" data-prev-string="{{labelPrevious}}"
                                 data-next-string="{{labelNext}}">
                                <div class="span3">
                                    {{> wizard-tabs}}
                                </div>
                                <div class="span9 portal-form-body">
                                    <div>
                                        {{> api-type-tab}}
                                        {{> api-details-tab}}
                                        {{#if isCreateFormOrPortalPublished}}
                                        {{> proxy-configuration-tab}}
                                        {{> api-explorer-tab}}
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            {{!-- row-fluid --}}
                        </div>
                        {{!-- span12 --}}
                    </div>
                    {{!-- row-fluid  --}}
                    {{!-- save and cancel buttons --}}
                    <div class="row-fluid">
                        <div class="span12 right">
                            {{#if canEdit}}
                                <button class="api-form-save-button btn btn-primary"
                                        type="submit">{{labelSave}}</button>
                            {{else}}
                                <a href="#" class="layer7-tooltip" data-position="left"
                                   data-tooltip-content="{{buttonSaveDisabledTooltip}}">
                                    <button class="api-form-save-button btn disabled control-disabled" type="submit">
                                        {{labelSave}}
                                    </button>
                                </a>
                            {{/if}}
                            <a class="api-form-cancel-button btn">{{labelCancel}}</a>
                        </div>
                    </div>
                </div>
            </form>


        </div>
    </div>
    {{!-- span12 --}}
    </div>
    {{!-- row-fluid portal-main --}}
    {{!-- form end --}}
    <div id="modal-container"></div>
</script>

<script id="portal-apis-swagger-flow-create-view-template" type="text/x-handlebars-template">
    <nav id="mobile-nav-bar"></nav>

    {{!-- form start --}}
    <div class="row-fluid portal-main">
        <div class="span12">
            <form id="api-form" novalidate="novalidate">
                <div class="row-fluid">
                    <div class="general-alerts"></div>
                </div>

                <div class="row-fluid">
                    <div class="page-title span12 portal-page-title">
                        <h1>{{addApi}}</h1>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span12">
                        <div class="row-fluid">
                            <div class="layer7-form-wizards" data-prev-string="{{labelPrevious}}"
                                 data-next-string="{{labelNext}}" data-enforce-steps="true">
                                <div class="span3">
                                    {{> wizard-tabs}}
                                </div>
                                <div class="span6 portal-form-body">
                                    <div>
                                        {{> api-type-tab}}
                                        {{> api-details-tab}}
                                        {{> proxy-configuration-tab}}
                                        {{> api-explorer-tab}}
                                    </div>
                                </div>
                                {{> video-sidebar-publishers}}
                            </div>
                            {{!-- row-fluid --}}
                        </div>
                        {{!-- span12 --}}
                    </div>
                    {{!-- row-fluid --}}
                    {{!-- create and cancel buttons --}}
                    <div class="row-fluid">
                        <div class="span9 right">
                            <button class="api-form-save-button btn btn-primary disabled control-disabled"
                                    type="submit">{{labelCreate}}</button>
                            <a class="api-form-cancel-button btn">{{labelCancel}}</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {{!-- span12 --}}
    </div>
    {{!-- row-fluid portal-main --}}
    {{!-- form end --}}
    <div id="modal-container"></div>
</script>


<script id="portal-apis-swagger-flow-form-view-wizard-tabs-partial" type="text/x-handlebars-template">
    <ul>
        <li><a><span>{{labelApiTypeTitle}}</span><span class="badge badge-important pull-right"></span><br>
            <small>{{labelApiTypeDesc}}</small>
        </a></li>
        <li><a><span>{{labelApiDetailsTitle}}</span><span class="badge badge-important pull-right"></span><br>
            <small>{{labelApiDetailsDesc}}</small>
        </a></li>
        {{#if isCreateFormOrPortalPublished}}
        <li><a><span>{{labelProxyConfigTitle}}</span><span class="badge badge-important pull-right"></span><br>
            <small>{{labelProxyConfigDesc}}</small>
        </a></li>
        <li><a><span>{{labelApiExplorerTitle}}</span><span class="badge badge-important pull-right"></span><br>
            <small>{{labelApiExplorerDesc}}</small>
        </a></li>
        {{/if}}
    </ul>
</script>

<script id="portal-apis-form-view-api-type-wizard-step-partial" type="text/x-handlebars-template">
    <div data-tab="api-type">
        <fieldset>
            <legend>{{labelApiTypeTitle}}</legend>
            <div class="control-group" name="Apis-SpecContent">
                <div class="control-group-header">
                    <label for="api-spec-file">{{labelUploadSpecFile}}</label>
                    <span class="control-help-popover popover-trigger-info" rel="popover"
                          data-placement="right" data-html="true" data-content="{{helptextPopupUploadSpecFile}}"></span>
                </div>
                <p>
                    <!--[if lte IE 9]>
                    <div class="lte-ie9">
                    <![endif]-->
                    <input type="file" name="api-spec-file" accept=".wadl,.json" onclick="this.value=null;">
                    <button id="choose-spec"
                            class="btn btn-primary btn-small">{{labelChooseFile}}</button>
                    <button id="clear-spec"
                            class="btn btn-small">{{labelClearFile}}</button>
                    <!--[if lte IE 9]>
                    </div>
                    <![endif]-->
                </p>
                <p><strong>{{labelSelectedFile}}:</strong>
                    <span id="api-spec-file-name">{{apiSpecFilename}}</span>
                    <span class="medium-grey" id="api-spec-file-size">{{apiSpecFilesize}}</span></p>
            </div>
        </fieldset>
    </div>
</script>

<script id="portal-apis-form-view-api-details-wizard-step-partial" type="text/x-handlebars-template">
    <div data-tab="api-details">
        <fieldset name="apis-detail-section">
            <legend>{{labelApiDetailsTitle}}</legend>
            <div class="control-group" name="Apis-Name">
                <label for="api-name">{{labelApiName}} *</label>
                <input id="api-name" name="api-name" type="text"
                       data-required="true"
                       data-required-message="{{error.required}}" maxlength="255"
                       data-maxlength="255"
                       data-maxlength-message="{{error.maxLength}}"
                       data-remote="{{uniqueCheckUrl}}"
                       data-remote-quote-string="true" data-remote-parameter="Name"
                       data-remote-datatype="json"
                       data-remote-message="{{error.notUnique}}"
                       data-remote-extra-param='{"CurrentId": "{{apiUuid}}"}'
                       value="{{apiName}}"/>
                <p class="help-block">{{errorUniqueName}}</p>
            </div>
            {{#unless isCreateFormOrPortalPublished}}
            <div class="control-group" name="Apis-SsgUrl">
                <div class="control-group-header">
                    <label>{{labelProxyUrlTitle}}*</label>
                    <span class="control-help-popover popover-trigger-info" rel="popover" data-placement="right"
                          data-html="true" data-content="{{helptextProxyUrl}}"></span>
                </div>

                <div class="input-prepend">
                    <span class="add-on" name="api-gateway-url">https://gateway.domain.com:8443/</span>{{#if editForm}}<span id="api-proxy-url" class="uneditable-input medium-grey">{{apiSsgUrl}}</span>
                    {{else}}<input
                                id="api-proxy-url" type="text" data-validation-minlength="1"
                                data-apilocationnotequal='#policy-template-apiLocation' data-apilocationnotequal-message="{{error.proxyUrlMustNotMatchApiLocation}}"
                                data-required="true"
                                data-required-message="{{error.required}}"
                                data-remote="{{uniqueProxyCheckUrl}}"
                                data-remote-quote-string="true"
                                data-remote-parameter="ProxyUrl" data-remote-datatype="json"
                                data-remote-message="{{error.notUnique}}" data-fieldgroup="proxy-config-tab" />
                    {{/if}}
                </div>
                <p class="help-block">{{labelProxyUrlTitleDesc}}</p>
            </div>
            {{/unless}}
            <div class="control-group" name="Apis-Version">
                <label for="version">{{labelVersion}} *</label>
                <input id="api-version" name="api-version" type="text"
                       data-required="true"
                       data-required-message="{{error.required}}" maxlength="50"
                       data-maxlength="50" data-regexp="^\d+([\.|_|-]*\d+)*$"
                       data-regexp-message="{{errorVersionPattern}}"
                       value="{{apiVersion}}"/>
                <p class="help-block">{{errorVersionPattern}}</p>
            </div>
            {{#if isCreateFormOrPortalPublished}}
                <div class="control-group" name="Apis-ApiLocationUrl">
                    <div class="control-group-header">
                        <label for="policy-template-apiLocation">{{labelApiLocationTitle}} *</label>
                        <span class="control-help-popover popover-trigger-info" rel="popover" data-placement="right"
                              data-html="true" data-content="{{helptextPopupApiLocation}}"></span>
                    </div>
                    <input id="policy-template-apiLocation" name="api-location-url"
                           type="text" data-required="true"
                           {{#if editForm}}data-proxyurlnotequal='#api-proxy-url' data-proxyurlnotequal-message="{{error.apiLocationMustNotMatchProxyUrl}}"{{/if}}
                           data-required-message="{{error.required}}" maxlength="255"
                           data-maxlength="255"
                           data-maxlength-message="{{error.maxLength}}" value="{{apiLocation}}"/>
                    <p class="help-block">{{labelApiLocationTitleDesc}}</p>
                </div>
            {{/if}}
            <div class="control-group model-required" name="Apis-ApiEula">
                <div class="control-group-header">
                    <label for="api-eula" {{#if hasApplications}}class="medium-grey"{{/if}}>{{labelApiEula}} *</label>
                    <span class="control-help-popover popover-trigger-info" rel="popover" data-placement="right"
                          data-html="true" data-content="{{helptextPopupApiEula}}"></span>
                </div>
                <select id="api-eula" name="api-eula" data-required="true"
                        data-required-message="{{error.required}}" {{#if hasApplications}}disabled="disabled"{{/if}}>
                    <option value disabled selected>{{labelSelectEula}}</option>
                </select>
            </div>
            {{#if editForm}}
                <div class="control-group" name="Apis-SsgStatus">
                    <div id="api-state-selection" class="layer7-selections">
                        <label for="api-state">{{labelState}} *</label>
                        <label for="ENABLED">{{labelEnabled}}</label>
                        {{#if apiIsNew}}
                            <input id="enabled-state-button" name="api-state"
                                   type="radio" value="ENABLED" {{#if
                            canEdit}}checked="checked"
                                   {{else}}disabled=disabled{{/if}} />
                        {{else}}
                            <input id="enabled-state-button" name="api-state"
                                   type="radio" value="ENABLED" {{#if apiPossibleActions.enabled.selected}}checked="checked"{{/if}}
                                {{#unless apiPossibleActions.enabled.isValid}}disabled="disabled"{{/unless}} />
                        {{/if}}
                        <label for="DISABLED">{{labelDisabled}}</label>
                        <input id="disabled-state-button" name="api-state" type="radio"
                               value="DISABLED" {{#if apiPossibleActions.disabled.selected}}checked="checked"{{/if}}
                            {{#unless apiPossibleActions.disabled.isValid}}disabled="disabled"{{/unless}} />
                        <label for="DEPRECATED">{{labelDeprecated}}</label>
                        <input id="deprecated-state-button" name="api-state"
                               type="radio" value="DEPRECATED" {{#if apiPossibleActions.deprecated.selected}}checked="checked"{{/if}}
                            {{#unless apiPossibleActions.deprecated.isValid}}disabled="disabled"{{/unless}} />
                    </div>
                </div>
            {{/if}}
            <div class="control-group" name="Apis-AccessStatus">
                <div id="api-visibility-selection" class="layer7-selections">
                    <div class="control-group-header">
                        <label for="api-visibility">{{labelVisibility}} *</label>
                        <span class="control-help-popover popover-trigger-info" rel="popover" data-placement="right"
                              data-html="true" data-content="{{helptextPopupApiVisibility}}"></span>
                    </div>

                    <label for="PUBLIC">{{labelPublic}}</label>
                    <input id="public-visibility-button" name="api-visibility"
                           type="radio" value="PUBLIC" {{#unless
                                   apiVisibilityPrivate}}checked="checked"{{/unless}}/>
                    <label for="PRIVATE">{{labelPrivate}}</label>
                    <input id="private-visibility-button" name="api-visibility"
                           type="radio" value="PRIVATE" {{#if
                                   apiVisibilityPrivate}}checked="checked"{{/if}} />
                </div>
            </div>
            {{#if showOrganizationTab}}
            <div class="control-group model-required" name="Apis-OrganizationUuid">
                <div class="control-group-header">
                    <label for="api-organization">{{labelApiOrganization}}</label>
                    <span class="control-help-popover popover-trigger-info" rel="popover" data-placement="right"
                          data-html="true" data-content="{{helptextPopupApiOrganization}}"></span>
                </div>
                <select id="api-organization" name="api-organization">
                    <option value selected>{{labelSelectOrganization}}</option>
                </select>

            </div>
            {{/if}}
            <div class="control-group not-model-required" name="Apis-Description">
                <div class="control-group-header">
                    <label for="api-public-description">{{labelPublicDescription}}</label>
                    <span class="control-help-popover popover-trigger-info" rel="popover" data-placement="right"
                          data-html="true" data-content="{{helptextPopupPublicDescription}}"></span>
                </div>
                <textarea id="api-public-description"
                               name="api-public-description"
                               class="textarea-block"
                               data-maxlength="255" data-maxlength-message="{{error.maxLength}}"
                               placeholder="{{placeholderEnterText}}...">{{apiPublicDescription}}</textarea>
                <p class="help-block">{{labelPublicDescriptionHelpTextLength}}</p>
            </div>
            <div class="control-group not-model-required" name="Apis-PrivateDescription">
                <div class="control-group-header">
                    <label for="api-private-description">{{labelPrivateDescription}}</label>
                    <span class="control-help-popover popover-trigger-info" rel="popover" data-placement="right"
                          data-html="true" data-content="{{helptextPopupPrivateDescription}}"></span>
                </div>
                <textarea id="api-private-description"
                               name="api-private-description"
                               class="textarea-block"
                               data-maxlength="255" data-maxlength-message="{{error.maxLength}}"
                               placeholder="{{placeholderEnterText}}...">{{apiPrivateDescription}}</textarea>
                <p class="help-block">{{labelPrivateDescriptionHelpTextLength}}</p>
            </div>
            {{#if isCreateFormOrPortalPublished}}
            <fieldset id="api-custom-fields">
                <legend>{{labelCustomFields}}</legend>
            </fieldset>
            {{/if}}
        </fieldset>
    </div>
</script>

<script id="portal-apis-form-view-proxy-configuration-wizard-step-partial" type="text/x-handlebars-template">
    {{#if isCreateFormOrPortalPublished}}
    <div data-tab="proxy-configuration">
        <fieldset>
            <legend>{{labelProxyDetails}}</legend>
            <div class="control-group" name="Apis-SsgUrl">
                <div class="control-group-header">
                    <label>{{labelProxyUrlTitle}}*</label>
                    <span class="control-help-popover popover-trigger-info" rel="popover" data-placement="right"
                          data-html="true" data-content="{{helptextProxyUrl}}"></span>
                </div>

                <div class="input-prepend">
                    <span class="add-on" name="api-gateway-url">https://gateway.domain.com:8443/</span>{{#if editForm}}<span id="api-proxy-url" class="uneditable-input medium-grey">{{apiSsgUrl}}</span>
                    {{else}}<input
                        id="api-proxy-url" type="text" data-validation-minlength="1"
                        data-apilocationnotequal='#policy-template-apiLocation' data-apilocationnotequal-message="{{error.proxyUrlMustNotMatchApiLocation}}"
                        data-required="true"
                        data-required-message="{{error.required}}"
                        data-remote="{{uniqueProxyCheckUrl}}"
                        data-remote-quote-string="true"
                        data-remote-parameter="ProxyUrl" data-remote-datatype="json"
                        data-remote-message="{{error.notUnique}}" data-fieldgroup="proxy-config-tab" />
                    {{/if}}
                </div>
                <p class="help-block">{{labelProxyUrlTitleDesc}}</p>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{labelPolicyTemplateTitle}}</legend>

            <div class="control-group">
                <div class="control-group-header">
                    <label for="policy-template">{{labelPolicyTemplateTitle}} *</label>
                    <span class="control-help-popover popover-trigger-info" rel="popover" data-placement="right"
                          data-html="true" data-content="{{helptextPolicyTemplate}}"></span>
                </div>

                <div id="policy-template" name="policy-template"/></div>

            <div id="policy-template-not-available" style="display:none">{{noPolicyTemplates}}</div>

            <div class="control-group" name="Apis-PolicyEntities">
                <input type="hidden" id="policyTemplateCount" name="policyTemplateCount" value="0" data-type="number"
                       data-min="1" data-min-message="{{error.minPolicyTemplates}}" />
            </div>
            <div id="policy-templates">
                {{> policy-templates}}
            </div>

        </fieldset>
    </div>
    {{/if}}
</script>

<script id="portal-apis-form-view-api-explorer-wizard-step-partial" type="text/x-handlebars-template">
    {{#if isCreateFormOrPortalPublished}}
    <div data-tab="api-explorer">
       {{> auth}}
    </div>
    {{/if}}
</script>

<script id="portal-apis-details-view-template" type="text/x-handlebars-template">
    <div class="row-fluid">
        <div class="span12">

            <!-- api meta data //-->
            <div class="row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <div class="page-title span9">
                            <h1>{{api.name}}</h1>
                            <ul class="inline">
                                <li class="{{apiStateClass}}"><i class="{{apiStateIconMapping}}"></i> {{labelApiState}}</li>
                                <li>{{labelLastUpdated}} {{apiLastUpdated}}</li>
                                <li>{{labelVersion}} {{api.version}}</li>
                                <li>{{labelApiAccessStatus}}</li>
                            </ul>
                        </div>
                        <div class="span3 right portal-page-actions">
                            <div style="width:150px;float:right">
                                <p><button id="control-edit-api" data-api-id="{{api.uuid}}"
                                           class="btn btn-primary {{#unless canEdit}}control-disabled disabled{{/unless}}"
                                           type="submit">{{labelEdit}}</button>
                                </p>

                                <p class="center">
                                    <a href="#"
                                       class="layer7-tooltip api-delete-button {{#unless canDelete}}control-disabled disabled{{/unless}}"
                                       data-apis-id="{{api.uuid}}"
                                       data-tooltip-content="{{#unless canDelete}}{{deleteDisabledTooltip}}{{/unless}}"><i
                                            class="icon-portal-delete"></i> {{labelDelete}}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- tabs //-->
            <div class="row-fluid">
                <div class="span12">
                    <div class="layer7-tabs"> <!-- Only required for left/right tabs -->
                        <ul>
                            <li id="apis-details-overview"><a>Overview</a></li>
                            {{#if canDeploy}}
                                <li id="apis-details-deployment-tab"><a>Deployments</a></li>
                            {{/if}}
                        </ul>
                        <div>
                            <div>
                                <div id="api-details-content" class="row-fluid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-container"></div>
</script>

<script id="portal-api-deployment-partial-template" type="text/x-handlebars-template">
     <div class="span4">
         <div class="well" id="{{proxyUuid}}">
            <h4>{{proxyName}}</h4>
            <div class="row-fluid">
                <div class="span12" {{#if deploymentStatusMessage}}style="cursor: pointer;" id="deployment-messages"{{/if}} data-proxy-id="{{proxyUuid}}">
                    <small data-proxy-id="{{proxyUuid}}" class="{{syncColor}}"><span class="{{syncIcon}}" style="margin-top:3px;" data-proxy-id="{{proxyUuid}}"></span>
                        &nbsp;<span data-proxy-id="{{proxyUuid}}" {{#if deploymentStatusMessage}}style="text-decoration:underline"{{/if}}>{{syncStatus}}</span>
                    </small>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="small">
                        {{labelDeploymentType}}: {{deploymentType}}
                        <span class="control-help-popover popover-trigger-info" rel="popover" data-placement="right" data-html="true" data-content="{{deploymentTypeTooltip}}" data-original-title="" title=""></span>
                    </div>
                </div>
                <p class="small">{{labelLastUpdated}}{{#if lastSyncTime }} {{lastSyncTime}}{{/if}}</p>
                <p class="small"><a href="#">{{proxyUrl}}</a></p>
            </div>
        </div>
    </div>
</script>

<script id="portal-api-deployment-error-template" type="text/x-handlebars-template">
    <button id="close-api-deployment-error" class="btn btn-primary" type="submit">{{ok}}</button>
</script>

<script id="portal-api-delete-error-template" type="text/x-handlebars-template">
    <button id="confirm-delete-error" class="btn btn-primary" type="submit">{{ok}}</button>
</script>
<script id="portal-api-details-overview-details-template" type="text/x-handlebars-template">
   <div class="span6">
       
       <h4>{{labelDefinition}}</h4>
       
       <div class="span12">
           <label class="text-right span2">{{labelLocationApi}}:</label>
           <span class="span10"><a id="locationUrl" href="{{api.locationUrl}}">{{api.locationUrl}}</a></span>
       </div>
       {{#if isInternalUser}}
       <div class="span12">
           <label class="text-right span2">{{labelOrganization}}:</label>
           <span id="orgName" class="span10" id="apis-org-name">{{organization}}</span>
       </div>
       {{/if}}
       <h4>{{labelTitleDescription}}</h4>
       <div class="span12">
           <label class="text-right span2">{{labelPublic}}:</label>
           <span id="description" class="span10">{{api.description}}</span>
       </div>
       <div class="span12">
           <label class="text-right span2">{{labelPrivate}}:</label>
           <span id="privateDescription" class="span10">{{api.privateDescription}}</span>
       </div>
       
       <h4>{{labelTitleReference}}</h4>

       <div class="span12">
           <span class="text-right span2">
               {{#if isInternalUser}}
                <a id="appUrl" href="/admin/applications#list/{{apiUuid}}">{{labelApplication}}</a>
               {{/if}}
               {{#unless isInternalUser}}
                   <a id="appUrl" href="/admin/app/applications#list/{{apiUuid}}">{{labelApplication}}</a>
               {{/unless}}

           </span>
           <span class="span1">
               <span class="control-help-popover popover-trigger-info pr0"
                     rel="popover" data-placement="right" data-html="true"
                     data-content="{{applicationHelpText}}"
                     data-original-title="" title=""></span>
           </span>
       </div>
       {{#if isInternalUser}}
       <div class="span12">
           <span class="text-right span2">
               <a id="apiGroupUrl" href="/admin/api-groups#list/{{apiUuid}}">{{labelApiGroup}}</a>

           </span>
           <span class="span1">
               <span class="control-help-popover popover-trigger-info pr0"
                     rel="popover" data-placement="right" data-html="true"
                     data-content="{{apiGroupsHelpText}}"
                     data-original-title="" title=""></span>
           </span>
       </div>
       {{/if}}
       <div class="span12">
           <span class="text-right span2">
                <a href="/admin/app/api-explorer#api/{{apiUuid}}">{{labelApiExplorer}}</a>

           </span>
           <span class="span1">
               <span class="control-help-popover popover-trigger-info pr0"
                     rel="popover" data-placement="right" data-html="true"
                     data-content="{{apiExplorerHelpText}}"
                     data-original-title="" title=""></span>
           </span>
       </div>
   </div>
</script>
